# ======================================================
# Backend Principal – Django
# ======================================================

Django>=4.2
djangorestframework>=3.14
django-cors-headers>=4.4


# ======================================================
# Base de Datos y Entorno
# ======================================================
dj-database-url  # Para leer config de BD desde URL
psycopg2-binary  # Driver para PostgreSQL
mysqlclient      # Driver para MySQL
python-dotenv    # Para leer variables de entorno desde .env